In [12]:
import pandas as pd
import geopy

df = pd.read_csv("data/NYPD_Complaint_Data_Current__Year_To_Date_.csv")

In [2]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,854455675,48,NaN,09/29/2021,12:50:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,<18,BLACK HISPANIC,M,1016838,250252,40.853507,-73.882203,"(40.85350696200004, -73.88220309599996)",POINT (-73.88220309599996 40.85350696200004)
1,474078722,79,NaN,09/16/2021,05:15:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,25-44,BLACK,M,1001523,192971,40.696329,-73.937711,"(40.696328949000076, -73.93771061299998)",POINT (-73.93771061299998 40.696328949000076)
2,843162354,25,NaN,09/15/2021,01:13:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,25-44,BLACK,M,1001508,232696,40.805364,-73.937663,"(40.80536404400005, -73.93766276299993)",POINT (-73.93766276299993 40.80536404400005)
3,275119984,47,NaN,09/07/2021,19:35:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,25-44,BLACK,M,1023942,264415,40.892351,-73.856440,"(40.89235092600006, -73.85643985999997)",POINT (-73.85643985999997 40.89235092600006)
4,446379952,47,NaN,09/03/2021,20:35:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,25-44,BLACK,M,1027062,262581,40.887303,-73.845167,"(40.88730259600004, -73.84516691)",POINT (-73.84516691 40.88730259600004)

In [4]:
# a way to extract two columns from a df into a new df.
latLong = ["Latitude","Longitude"]
df_latLong = df[latLong]
df_latLong.head()

    Latitude  Longitude
0  40.853507 -73.882203
1  40.696329 -73.937711
2  40.805364 -73.937663
3  40.892351 -73.856440
4  40.887303 -73.845167

In [8]:
df_latLong[0:100]

     Latitude  Longitude
0   40.853507 -73.882203
1   40.696329 -73.937711
2   40.805364 -73.937663
3   40.892351 -73.856440
4   40.887303 -73.845167
..        ...        ...
95  40.678916 -73.823446
96  40.741133 -73.901088
97  40.779380 -73.799027
98  40.615352 -74.067065
99  40.647832 -74.087015

[100 rows x 2 columns]

In [10]:
df_latLong.iloc[0:100]

     Latitude  Longitude
0   40.853507 -73.882203
1   40.696329 -73.937711
2   40.805364 -73.937663
3   40.892351 -73.856440
4   40.887303 -73.845167
..        ...        ...
95  40.678916 -73.823446
96  40.741133 -73.901088
97  40.779380 -73.799027
98  40.615352 -74.067065
99  40.647832 -74.087015

[100 rows x 2 columns]

In [14]:
geolocator = geopy.Nominatim(user_agent="check_1")
def get_zip_code(x):
    location = geolocator.reverse("{}, {}".format(x["Latitude"],x["Longitude"]))
    return location.raw["address"]["postcode"]
df_latLong["zipcode"] = df_latLong[0:20].apply(lambda x: get_zip_code(x), axis=1)

In [19]:
df_latLong[0:20]

     Latitude  Longitude zipcode
0   40.853507 -73.882203   10460
1   40.696329 -73.937711   11206
2   40.805364 -73.937663   10035
3   40.892351 -73.856440   10466
4   40.887303 -73.845167   10466
5   40.645903 -73.910216   11236
6   40.806131 -73.917954   10454
7   40.690705 -73.789601   11433
8   40.747868 -73.938604   11101
9   40.808451 -73.926321   10454
10  40.674618 -73.956546   11238
11  40.607821 -73.759196   11691
12  40.861684 -73.835205   10469
13  40.786182 -73.945697   10029
14  40.820614 -73.943552   10030
15  40.675560 -73.939929   11213
16  40.828184 -73.906295   10456
17  40.853507 -73.882203   10460
18  40.832959 -73.866549   10472
19  40.816986 -73.847014   10473