In [ ]:
#more testing with the zipcode function, it works by we need to run the function with the whole df
import pandas as pd
import geopy

df = pd.read_csv("Data/NYPD_Complaint_Data_Current__Year_To_Date.csv")

In [ ]:
df.head()

In [11]:
# a way to extract two columns from a df into a new df.
latLong = ["Latitude","Longitude"]
df_latLong = df[latLong]
df_latLong.head()

    Latitude  Longitude
0  40.654223 -73.911563
1  40.575443 -73.987795
2  40.678643 -73.867543
3  40.668584 -73.926980
4  40.793026 -73.942156

In [12]:
df_latLong.shape

(204646, 2)

In [8]:
df_latLong[0:100]

     Latitude  Longitude
0   40.853507 -73.882203
1   40.696329 -73.937711
2   40.805364 -73.937663
3   40.892351 -73.856440
4   40.887303 -73.845167
..        ...        ...
95  40.678916 -73.823446
96  40.741133 -73.901088
97  40.779380 -73.799027
98  40.615352 -74.067065
99  40.647832 -74.087015

[100 rows x 2 columns]

In [10]:
df_latLong.iloc[0:100]

     Latitude  Longitude
0   40.853507 -73.882203
1   40.696329 -73.937711
2   40.805364 -73.937663
3   40.892351 -73.856440
4   40.887303 -73.845167
..        ...        ...
95  40.678916 -73.823446
96  40.741133 -73.901088
97  40.779380 -73.799027
98  40.615352 -74.067065
99  40.647832 -74.087015

[100 rows x 2 columns]

In [ ]:
geolocator = geopy.Nominatim(user_agent="check_1")
def get_zip_code(x):
    location = geolocator.reverse("{}, {}".format(x["Latitude"],x["Longitude"]))
    return location.raw["address"]["postcode"]
df_latLong["zipcode"] = df_latLong[0:100].apply(lambda x: get_zip_code(x), axis=1)

In [ ]:
df_latLong["zipcode"] = df_latLong[0:100].apply(lambda x: get_zip_code(x), axis=1)
df_latLong.head()